<%- include('../partials/header') %>

<form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="skill" value="<%= skill.skill %>"><br>
    <label>
        <input type="checkbox" name="skill?" <%= skill.done ? 'checked' : ''%>>
        Completed?
    </label><br>
    <button type="submit"> Skill to Edit </button>
</form>

<%- include('../partials/footer') %>